*{
 
   font-family: "Arvo", serif;
}



.slick-prev:before,
.slick-next:before {
  color: black;   
  font-size: 30px; 
}

.teacher-img {
  width: 300px;
  height: 350px;
  object-fit: cover;  
  border-radius: 15px; 
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease-in-out;
}

.teacher-img:hover {
  transform: scale(1.05); 
}